*,html{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    -ms-overflow-style: none;  /* Hide Scrollbar Internet Explorer 10+ */
    scrollbar-width: none; /* Hide Scrollbar Firefox */
}

::-webkit-scrollbar { /* Hide Scrollbar Chrome */
    display: none;
}

body{
    font-size: 2vmax;
    /* background: linear-gradient(256deg, rgba(195,34,34,1) 0%, rgba(45,50,253,1) 100%); */
    background: url('https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHN1cGVyaGVybyUyMGJhY2tncm91bmR8ZW58MHx8MHx8');
    background-size: cover;
}

.wrapper{
    margin: 20px 50px;
}

/*              Title                */
#title{
    text-align: center;
}


/*          Name             */
.name{
    margin-bottom: 20px;
    letter-spacing: 4px;
}

/*          Content          */
.content{
    display: flex;
}

/*               Image              */
img{
    height: 450px;
    width: auto;
    border-radius: 2%;
    box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.5);
}

/*               Info/Stats          */
.info{
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.info > h4{
    margin-bottom: 4px;
}

/*               Button              */
.button-div{
    margin-top: 40px;
    margin-bottom: 1%;
}

button{
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 2%;
    font-size: 1.4rem;
    border-radius: 10px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

button:hover{
    transform: scale(1.05);
    opacity: 1;
}
